
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}


/* share style */
/* dark02 */
.text-gray{
    color: rgb(66, 66, 66);
}
/* dark 03 */
.text-light-gray{
    color: #727272;
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1) ;
}
/* nav style */

.navbar{
    display: flex;
    justify-content: space-between;
    margin-right: 200px;
}

.nav-links{
    display: flex;
    gap: 20px;
}

.nav-item{
    list-style: none;
}

.nav-link{
    text-decoration: none;
    font-weight: 500;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0px  auto;
}
.banner{
    margin: auto;
    justify-content: center;
    text-align: center;
    
}
 div{
    justify-content: center;
    margin: auto;
    margin-top: 50px;
 }

 /* banner style  */

 .img{
    margin-top: 30px;
    height: 450px;
    width: 900px;
 }